<h1>Signup</h1>

<form class="" action="/signup" method="post">
  <div class="form-group">
    <p>
      <input class="form-control" type="text" name="first_name" id="first_name" value="" placeholder="First Name" required>
    </p>

    <p>
      <input class="form-control" type="text" name="last_name" id="last_name" value="" placeholder="Last Name" required>
    </p>

    <p>
      <input class="form-control" type="email" name="email" id="email" value="" placeholder="Email Address" required>
    </p>

    <p>
      <input class="form-control" type="password" name="password" id="password" value="" placeholder="Password" required>
    </p>

    <input class="btn btn-primary" type="submit" name="submit">
  </div>
</form>
