<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>SinatraRhymebot</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>

    <nav class="navbar navbar-expand navbar-light bg-light">
      <a class="navbar-brand" href="/">RhymeBot</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">

          <% if logged_in? %>
          <li class="nav-item">
            <a class="nav-link btn btn-primary" href="/users/<%= session[:id] %>/edit">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-danger" href="/users/signout">Sign Out <span class="sr-only">(current)</span></a>
          </li>
          <% end %>

          <% if !logged_in? %>

          <% if @current_page != "login" %>
          <li class="nav-item">
            <a class="nav-link btn btn-primary" href="/users/login">Log In</a>
          </li>
          <% end %>

          <% if @current_page != "signup" %>
          <li class="nav-item">
            <a class="nav-link btn btn-primary" href="/users/signup">Sign Up</a>
          </li>
          <% end %>

          <% end %>

        </ul>
      </div>
    </nav>

    <% if logged_in? %>
    <div class="wrapper">
        <form action="/user_words" method="post">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="input" name="input" placeholder="Find Rhymes">
              <input type="submit" class="btn btn-primary" name="search" value="Search">
            </div> 
          </div>
        </form>
    </div>
    <% end %>

    <div class="wrapper">

      <% if logged_in? %>
        <!-- <form>
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" id="input" placeholder="Find Rhymes">
              <input type="submit" class="btn btn-primary" name="" value="Search">
            </div> 
          </div>
        </form> -->
        <% end %>

        <%= yield %>

      <footer class="branding">
        <small>&copy; 2019 <strong>SinatraRhymebot</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
